h1 {
  color: #495057;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 20px); /* Вычисляем ширину для 4 карточек на строку с отступами */
  margin: 10px;
  background-color: #fff;
}

.example-header-image {
  background-image: url('../../assets/icons/car-brand/chevrolet.png');
  background-size: cover;
}

.mat-card-image {
    padding: 60px;
    border-radius: 10px;
}

.primary {
  color: blue;
}

.bg-royalblue {
  background-color: royalblue;
  color: white;
}

.png-bg {
  border-radius: 10px;
  margin: 15px;
  background-color: #f2f2f3;
}

.mat-card-image {
  /* Set the desired width and height */
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Allow the height to adjust proportionally */
}
.custom-chip {
  display: inline-flex;
  color: black;
  border-radius: 4px; /* Adjust border radius as needed */
  vertical-align: middle;
}

h3 {
  margin-left: 15px;
  font-size: 30px;
}

.card-header-image_v1 {
  background-image: url('../../assets/icons/car-brand/chevrolet.png');
  background-size: cover;
}
