<div class="row">
  <mat-card class="card col-md-3 col-sm-6 shadow-lg rounded border border-warning card-header-image_v1">
    <mat-card-content>
        <mat-card-title>
          <div class="d-flex justify-content-between">
            <img src="assets/icons/card-icon/card-matte.png" class="icon-styles" alt=""/>
            <div class="justify-content-end">
              <span class="text-warning">Jami xizmat ko'rsatilgan</span>
              <mat-card-subtitle class="text-end mt-0 pt-0"><span class="h2 text-warning">5 ta</span></mat-card-subtitle>
            </div>
          </div>
        </mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="card col-md-3 col-sm-6 shadow-lg rounded border border-warning card-header-image_v2">
    <mat-card-content>
      <mat-card-title>
        <div class="d-flex justify-content-between">
          <img src="assets/icons/card-icon/card-time.png" class="icon-styles" alt=""/>
          <div class="justify-content-end">
            <span class="text-warning">Vaqti yaqinlashgan</span>
            <mat-card-subtitle class="text-end mt-0 pt-0"><span class="h2 text-warning">5 ta</span></mat-card-subtitle>
          </div>
        </div>
      </mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="card col-md-3 col-sm-6 shadow-lg rounded border border-warning card-header-image_v3">
    <mat-card-content>
      <mat-card-title>
        <div class="d-flex justify-content-between">
          <img src="assets/icons/card-icon/card-month.png" class="icon-styles" alt=""/>
          <div class="justify-content-end">
            <span class="text-warning">Oxirgi 1 oy mobaynida</span>
            <mat-card-subtitle class="text-end mt-0 pt-0"><span class="h2 text-warning">5 ta</span></mat-card-subtitle>
          </div>
        </div>
      </mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="card col-md-3 col-sm-6 shadow-lg rounded border border-warning card-header-image_v2">
    <mat-card-content>
      <mat-card-title>
        <div class="d-flex justify-content-between">
          <img src="assets/icons/card-icon/card-loc.png" class="icon-styles" alt=""/>
          <div class="justify-content-end">
            <span class="text-warning">Jami ro'yxatdan o'tgan</span>
            <mat-card-subtitle class="text-end mt-0 pt-0"><span class="h2 text-warning">5 ta</span></mat-card-subtitle>
          </div>
        </div>
      </mat-card-title>
    </mat-card-content>
  </mat-card>
</div>

<div class="row col-12 w-100 d-flex justify-content-center">
  <input type="search"
         class="search form-control w-50" name=""
         placeholder="Avtolarni filtr qilish, izlash"
         id="searchInput"
         matInput #searchInput
         (keyup)="applyFilter($event)"
  >
</div>
<div class="card-grid car-list">
  <mat-card *ngFor="let item of data" class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Akmalov Komil</mat-card-title>
      <mat-card-subtitle><span class="primary">{{ item.carNumber }}</span></mat-card-subtitle>
    </mat-card-header>
    <div class="png-bg" style="display: flex; justify-content: center;">
    <img mat-card-image style="width: 65%;" src="assets/icons/car-models/{{item.carModelCode}}.png" alt="Photo of a Shiba Inu">
    </div>
      <mat-card-content>
      <mat-chip-set aria-label="Fish selection" style="margin-bottom: 20px">
        <div style="display: flex">
          <mat-chip style="background-color: #94a2bb">
            ID: {{ item.id }}
          </mat-chip>
          <mat-chip style="background-color: #94a2bb">
            Car Color:
            {{ item.carColor }}
          </mat-chip>
        </div>
        <div style="display: flex">
          <mat-chip style="background-color: #94a2bb;">
            <mat-icon class="custom-chip">calendar_today</mat-icon>
            <span style="color: black; margin-left: 5px">{{ item.createdDate }}</span>
          </mat-chip>
          <mat-chip style="background-color: #94a2bb">
            <mat-icon class="custom-chip">speed</mat-icon>
            <span style="color: black; margin-left: 5px">{{ item.carModelCode }}</span>
          </mat-chip>
        </div>
      </mat-chip-set>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
  <div class="w-100" *ngIf="data.length === 0" style="display: flex; justify-content: center;">
    <div class="card text-center w-100">
      <div class="card-body">
        <h1 class="h1 text-warning">Ma'lumotlar topilmadi</h1>
      </div>
    </div>
  </div>
</div>

<mat-paginator class="paginator-style"
  [length]="recordsTotal"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event, searchInput.value)">
</mat-paginator>

